<style type="text/css">
    html
    {
        font-family:"Menlo";
    }
    table
    {
        width:100%;
        font-size:9pt;
        word-wrap: break-word;
    }
    table.first_level
    {
        table-layout: fixed;
        background-color:rgb(225, 255, 225);
        border-bottom:1px solid green;
        font-size:10pt;
        cursor: pointer;
    }
    td.method
    {
        width:40px;
        font-weight:bold;
    }
    td.URL
    {
    }
    .connection_info
    {
        width: 100%;
        overflow: hidden;
    }
    div.headers
    {
        width: 49%;
        margin: 0.5%;
    }
    th
    {
        text-align:left;
        border-bottom:1px solid black;
    }
    td
    {
        vertical-align:top;
    }
    td.header_key
    {
        width:25%;
    }
    td.header_value
    {
        border-bottom:1px solid lightgray;
    }

    div.events
    {
        margin: 0.5%;
    }
    td.event_time
    {
        width:170px;
    }
    td.event_message
    {
        border-bottom:1px solid lightgray;
    }

</style>
